 * {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: "Open Sans", sans-serif;
 }

 body{overflow-x: hidden;}

 .topContain {
     background: #fefbec;
     overflow: hidden;
     padding-bottom: 40px;
 }

 .topBar {
     margin-top: 30px;
 }
 .navbarwrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }

 .logo {
     width: 377px;
 }

 .logo img {
     width: 100%;
 }

 .navbar {
     width: calc(100% - 480px);
     display: flex;
     justify-content: flex-end;
 }

 .navbar ul {
     margin: 0;
     padding: 0;
 }

 .navbar ul li {
     list-style: none;
     display: inline-block;
     margin: 0 33px;
 }

 .navbar ul li:last-of-type a i{ margin-left: 20px;   color: #ff0000;}

 .navbar ul li a {
     font-size: 18px;
     color: #484e50;
     text-decoration: none;
 }

 .navbar ul li a:hover {
     color: #ff0000;
 }

 .bannerblock {
     padding-bottom: 10px;
 }
 .bannerwrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }

 .bannerright {
     width: 1000px;
 }

 .bannerright img {
     width: 100%;
 }

 .bannerleft {
     width: calc(100% - 1020px);
 }

 .bannerleft h1 {
     margin: 0;
     padding: 0;
     font-size: 40px;
     color: #404b4f;
 }

 .bannerleft p {
     margin: 0;
     padding: 40px 0 0 0;
     font-size: 38px;
     line-height: 40px;
     color: #607c87;
 }

 .bannerleft a {
     display: inline-block;
     font-size: 24px;
     color: #ffffff;
     background: #f25444;
     border: solid 8px #fefcef;
     box-shadow: 0 0 2px #ccc;
     border-radius: 40px;
     padding: 10px 23px 14px 23px;
     text-decoration: none;
     line-height: 35px;
     margin-top: 35px;
 }

 .bannerLine {
     height: 5px;
     background: #d2ccb5;
 }

 .block2 {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .block2_sub {
     width: 20%;
 }

 .block2_sub:nth-of-type(1) {
     background: rgb(10, 182, 195);
     background: linear-gradient(90deg, rgba(10, 182, 195, 1) 0%, rgba(0, 128, 139, 1) 100%);
 }

 .block2_sub:nth-of-type(2) {
     background: rgb(163, 215, 29);
     background: linear-gradient(90deg, rgba(163, 215, 29, 1) 0%, rgba(135, 199, 21, 1) 100%);
 }

 .block2_sub:nth-of-type(3) {
     background: rgb(251, 195, 15);
     background: linear-gradient(90deg, rgba(251, 195, 15, 1) 0%, rgba(252, 165, 11, 1) 100%);
 }

 .block2_sub:nth-of-type(4) {
     background: rgb(140, 33, 104);
     background: linear-gradient(90deg, rgba(140, 33, 104, 1) 0%, rgba(98, 3, 78, 1) 100%);
 }

 .block2_sub:nth-of-type(5) {
     background: rgb(79, 39, 111);
     background: linear-gradient(90deg, rgba(79, 39, 111, 1) 0%, rgba(39, 16, 87, 1) 100%);
 }

 .block2_sub div {
     background: url(../images/block2_img1.webp);
     padding: 25px;
     font-size: 25px;
     color: #ffffff;
     display: flex;
     width: 100%;
     height: 100%;
     align-items: center;
 }

 .block2about {
     background: #feffff;
     border-bottom: solid 5px #b1d1df;
     padding: 40px 0;
 }

 .block2about .wrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
 }

 .block2abLeft {
     width: 719px;
 }

 .block2abLeft img {
     width: 100%;
     background-blend-mode: multiply;
 }

 .block2abRight {
     width: calc(100% - 780px);
     /* display: flex;
     flex-direction: column;
     justify-content: space-between; */
 }

 .block2abRighttop {
    margin-bottom: 30px;
}

 .block2abRight h2 {
     margin: 0;
     padding: 0;
     font-size: 48px;
     color: #121212;
     font-weight: normal;
 }

 .block2abRight p {
     font-size: 18px;
     line-height: 30px;
     color: #19191a;
     margin: 30px 0 0 0;
 }

 .block2abRight a {
     display: block;
     font-size: 24px;
     color: #ffffff;
     background: #f25444;
     border: solid 8px #fff;
     box-shadow: 0 0 2px #ccc;
     border-radius: 40px;
     padding: 10px 23px 14px 23px;
     text-decoration: none;
     line-height: 35px;
     width: 250px;
     text-align: center;
 }

 .block2abRightlink {
     display: flex;
     justify-content: flex-end;
 }

 .block3 {
     background: #f2f9fe;
     padding: 40px 0;
 }

 .block3 h2 {
     text-align: center;
     font-size: 48px;
     color: #121212;
     font-weight: normal;
 }

 .block3 .blck3flex {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: top;
     margin-top: 40px;
 }

 .block3Sub {
     width: calc(25% - 6px);
     margin: 3px 2px;
     background: #e4edf3;
     padding: 25px;
     display: flex;
     flex-direction: column;
     align-items: stretch;
     justify-content: space-between;
 }

 .block3Sub h3 {
     font-size: 30px;
     color: #393f44;
     border-left: solid 5px #f25444;
     font-weight: normal;
     padding: 0 0 0 10px;
     height: 80px;
     display: flex;
     align-items: center;
 }

 .block3Sub p {
     font-size: 18px;
     color: #181e22;
     line-height: 30px;
     margin-top: 30px;
 }

 .block3Sub a {
     display: block;
     font-size: 24px;
     color: #ffffff;
     background: #f25444;
     border: solid 8px #fff;
     box-shadow: 0 0 2px #ccc;
     border-radius: 40px;
     padding: 10px 23px 14px 23px;
     text-decoration: none;
     line-height: 35px;
     max-width: 250px;
     text-align: center;
     margin-top: 30px;
 }

 .block4 {
     background: #ffffff;
     padding: 40px 0;
 }

 .blck4text {
     width: min(90%, 900px);
     margin: 0 auto;
 }

 .blck4text h2 {
     text-align: center;
     font-size: 48px;
     color: #121212;
     font-weight: normal;
 }

 .blck4text h3 {
     font-size: 18px;
     color: #181e22;
     line-height: 30px;
     margin-top: 30px;
     margin: 0;
     padding: 20px 0 0 0;
     font-weight: normal;
     text-align: center;
 }


 .blck4flex {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 40px;
 }

 .blck4flex .block4_sub {
     width: 25%;
     border-bottom: solid 1px #c4c6ca;
     padding: 10px 0; 
 }
 .blck4flex .block4_sub img{max-width: 100%;}

 .blck4flex .block4_sub:nth-last-child(-n + 4) {
     border-bottom: none;
 }

 .blck4flex .block4_sub div {
     border-right: solid 1px #c4c6ca;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap; padding: 10px;
     height: 220px;     justify-content: space-between;
     align-items: center;  
 }

 .blck4flex .block4_sub:nth-of-type(4) div,
 .blck4flex .block4_sub:nth-of-type(8) div, .blck4flex .block4_sub:nth-of-type(12) div { border-right: none;}

 .blck4flex .block4_sub div label{ font-size: 24px; color: #4e4e4e;}

 .block5{ background: #f4f0ed; padding: 80px 0; text-align: center;}

 .block5 h2 {
    text-align: center;
    font-size: 48px;
    color: #3e403e;
    font-weight: normal;
}

.block5 ul{ margin: 40px 0 0 0;}
.block5 ul li{ list-style: none; display: inline-block; margin: 4px;}

.contact_block{   padding: 40px 0; position: relative;}

.contact_block .wrapper{ display: flex; flex-wrap: wrap; justify-content: space-between;  align-items: flex-start; margin-top: 40px;}

.contact_block h2 {
    text-align: center;
    font-size: 48px;
    color: #121212;
    font-weight: normal;
}
.innercontact{ position: relative;}
.footerconIMG {
    position: absolute;
    top: -10px;
    left: 80%;
    z-index: 9;
}

.contact_left{ width: 704px; height: 350px; border: solid 24px #c0cddc; border-radius: 10px; position: relative; z-index: 9; }
.contact_left iframe{ width: 100%; height: 100%;  }

.contact_right{ width: 520px; position: relative; z-index: 9;}

.formWrapper{ display: flex; flex-wrap: wrap; justify-content: space-between;}
.formsub2{ width: 48%;}
.formsub1{ width: 100%; margin-top: 20px;}
.contact_right label{ display: block; font-size: 18px; color: #3e403e;}
.contact_right input[type="text"]{ width: 100%; height:35px; padding: 10px; border: solid 1px #a5a7a9; outline: none; margin-top: 10px;}
.contact_right textarea{ width: 100%; height:80px; resize: none; padding: 10px; border: solid 1px #a5a7a9; outline: none; margin-top: 10px;}


.contact_right button{
    display: block;
    font-size: 24px;
    color: #ffffff;
    background: #f25444;
    border: solid 8px #fff;
    box-shadow: 0 0 2px #ccc;
    border-radius: 40px;
    padding: 10px 23px 14px 23px;
    text-decoration: none;
    line-height: 35px;
    width: 250px;
    text-align: center;
    margin-top: 20px;
}

.block6{ 
    background:#0f1218 url(../images/whyusBG.webp) no-repeat center top;
    /* padding-top: 35%; */
    /* background-size: 100%; */
}
 
.block6 h2 {
    text-align: center;
    font-size: 48px;
    color: #ffffff;
    font-weight: normal; position: relative;
}
.block6 .line {width: 240px; height: 5px; background: #f25444; margin: 0px auto; margin-top: 30px; display: block; }


.block6_con{ padding: 40px 0;}
 
.block6_bottom{ margin: 0 10%; margin-top: 532px; text-align: center; padding-bottom: 40px;}

.block6_bottom h3 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    font-weight: normal; position: relative;
}

.block6_bottom h4 {
    text-align: center;
    font-size: 18px; line-height: 30px;
    color: #97a7b3;
    font-weight: normal; position: relative; margin-top: 40px;
}

.footer1{ background:#202331 url(../images/footer_bg_new.webp) no-repeat; background-size: cover;}

.footer1 .wrapper{ padding: 40px 0; display: flex; flex-wrap: wrap; justify-content: space-between;}

.footeeSub1{ width: 284px;}
.footeeSub3{ width: 250px;}
.footeeSub2{ width:calc(100% - 750px);}

.footeeSub3 a{ color: #fff; text-decoration: none; padding: 0 10px 0 0; font-size: 20px;}
.footeeSub3 a:hover{ color: #f25444;}

.footer1 h3{ margin: 0 0 20px 0; padding: 0; text-transform: uppercase; color: #9da4b5; font-size: 24px;}
.footer1 p{ margin: 0 0 20px 0; padding: 0; color: #9da4b5;}
.footer1 p:last-of-type{ margin: 0;}
.footer1 p a{  color: #9da4b5; text-decoration: none;}
.footer1 p a:hover{ color: #f25444;}
.footer2{ background: #000000;}
.footer2 .wrapper{ padding: 15px 0; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.footer2 .wrapper span{ color: #fff;  font-size: 14px;}
.footer2 .wrapper label{ font-size: 24px; color: #f25444;}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2e3135;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    cursor: pointer; line-height: 40px;
    transition: opacity 0.3s ease-in-out; text-decoration: none;
}

#scrollToTopBtn.show {
    display: block;
}

.wrapper{ width: min(90%,1520px); margin: 0 auto;}

 

 




 /*------------------services Page----------------------*/
.innerpage{ background: #fff; padding: 0;}

.services_banner_block{ display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;  flex-direction: row-reverse;}

.Sbanner_IMG{ width: 510px;}
.Sbanner_IMG img{ width: 100%;}

.Sbanner_text{ width: calc(100% - 600px);}

.Sbanner_text h2{ margin: 0; padding: 0; font-size: 52px; color: #404b4f;}

.Sbanner_text p{ margin: 0; padding: 20px 0 0 0; font-size: 40px; color: #607c87;}

.services_banner_bottom{ width: 100%; position: relative; min-height: 10px;}

.services_banner_bottom a{display: inline-block;
    font-size: 24px;
    color: #ffffff;
    background: #f25444;
    border: solid 8px #fff;
    box-shadow: 0 0 2px #ccc;
    border-radius: 40px;
    padding: 10px 23px 14px 23px;
    text-decoration: none;
    line-height: 35px;
}

.services_banner_bottom::after{ position: absolute; content: ''; width: calc(100% - 400px); height: 5px; background: #d1cbb3; top: 50%; right: 0;}

.services_block2{ margin-top: 50px; position: relative; padding-bottom: 50px;}

.services_block2::after{ position: absolute; content: ''; width: calc(100% - 400px); height: 5px; background: #d1cbb3;   left: 0; bottom: 0;}


.services_block2 .flexcon{ display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end;}

.services_blockleft{ width: 595px;}

.services_blockleft img{ width: 100%;}

.services_blockright{ width: calc(100% - 650px);}

.services_blockright label{    font-size: 18px;
    line-height: 30px;
    color: #19191a; border-left: solid 5px #f25444; padding-left: 30px; display: block; margin-bottom: 50px;}

.services_blockright p{    font-size: 18px;
    line-height: 30px;
    color: #19191a; padding-bottom: 30px;}

 .services_blockright p:last-of-type{ padding: 0;}

 .services_blockright  strong{ display: block;   font-size: 18px;
    line-height: 30px;
    color: #19191a;}

.services_blockright h2{ font-size: 24px; color: #f25444; font-weight: normal; padding-bottom: 10px;}


.services_block3{ margin-top: 50px; position: relative; padding-bottom: 50px;}

.services_block3::after{ position: absolute; content: ''; width: calc(100% - 400px); height: 5px; background: #d1cbb3;   right: 0; bottom: 0;}

.services_block3 .flexcon{ display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; flex-direction: row-reverse;}


.services_block4{ margin-top: 50px; position: relative; padding-bottom: 50px;}

.services_block4::after{ position: absolute; content: ''; width: calc(100% - 400px); height: 5px; background: #d1cbb3;   left: 0; bottom: 0;}

.services_block4 .flexcon{ display: flex; flex-wrap: wrap; justify-content: space-between;  align-items: center;}


.services_block5{ margin-top: 50px; position: relative; padding-bottom: 50px;}

/* .services_block5::after{ position: absolute; content: ''; width: calc(100% - 400px); height: 5px; background: #d1cbb3;   right: 0; bottom: 0;} */

.services_block5 .flexcon{ display: flex; flex-wrap: wrap; justify-content: space-between;  align-items: center; flex-direction: row-reverse;  }


.services_block6{   position: relative; padding-bottom: 50px;}

.services_block6::after{ position: absolute; content: ''; width: calc(100% - 400px); height: 5px; background: #d1cbb3;   right: 0; bottom: 0;}

.services_block6 .flexcon{ display: flex; flex-wrap: wrap; justify-content: space-between;  align-items: center;  }

.services_block7{ padding: 50px 0;}

.services_block7 h2{ font-size: 42px; color: #607c87;}
.services_block7 label{ font-size:30px; color: #515252; font-weight: 500;}

.services_block7 ul{ margin: 0; padding: 50px 0 0 0;}
.services_block7 ul li{ list-style: none; display: inline-block; margin: 5px; margin-right: 10px;}

.services_block8{ background: #f15343; padding: 15px; font-size: 30px; color: #fff; font-weight: 600;
     padding: 50px 0; width: 85%; position: relative; }
 

.contact_avter{ width: 470px; height: 398px; position: absolute; bottom: 0; left: 40%; overflow: hidden;}

.contact_avter img{ display: block; margin: 0 auto; position: relative; z-index: 2;}

.contact_avter span{ display: block; background: #e5edf3; width: 470px; height: 470px; position: absolute; left: 0; bottom: -110px; border-radius: 100%;} 


@media only screen and (max-width: 1600px) {
   .services_block2 .services_blockright label{ margin-left: -630px;}
   .contact_avter{left: 38%;}
}

@media only screen and (max-width: 1560px) { 
    .contact_avter{left: 35%;}
 }
 
 @media only screen and (max-width: 1460px) { 
    .contact_avter{left: 32%;}
 }
 

@media only screen and (max-width: 1199px) {

    .footerconIMG{ display: none;}
    .services_block2 .services_blockright label{ margin-left: 0px;}

    .services_block2 .flexcon{ display: block;}
    .services_block3 .flexcon{ display: block;}
    .services_block4 .flexcon{ display: block;}
    .services_block5 .flexcon{ display: block;}
    .services_block6 .flexcon{ display: block;} 

    .services_blockleft {  width: auto;  margin-bottom: 20px; }
    .services_blockleft img{ width: auto; max-width: 100%; display: block; margin: 0 auto;}

    .services_blockright {  width: auto;     margin-bottom: 35px; }

    .services_block2::after{ width: 100%;}
    .services_block3::after{ width: 100%;}
    .services_block4::after{ width: 100%;}
    .services_block5::after{ width: 100%;}
    .services_block6::after{ width: 100%;} 

    .services_block2{ padding-bottom: 10px;}
    .services_block3{ padding-bottom: 10px;}
    .services_block4{ padding-bottom: 10px;}
    .services_block5{ padding-bottom: 10px;}
    .services_block6{ padding-bottom: 10px;}

    .services_banner_block{ display: block;}

    .Sbanner_IMG { width: auto;  }
    .Sbanner_IMG img{ width: auto; max-width: 100%; display: block; margin: 0 auto;}
    .Sbanner_text { width: auto;  padding: 15px 0; }

    .services_block8{ width: 100%;}
}

@media only screen and (max-width: 767px) {
    .services_banner_bottom::after{ display: none;}
    .Sbanner_text h2{ font-size: 40px;}
    .Sbanner_text p{ font-size: 30px;}
}

.topBar.navbar_scrolled {
    position: fixed;
    /* top: -200px; */
    left: 0;
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 16px 0px;
    opacity: 0;
    animation-name: navAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 37px #0000005e;
}
@keyframes navAnimation{
    0%{
        top: -200px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.navbar_scrolled .logo {
    width: 187px;
    transition: all 0.3s;
}

.menuIcon{display: none;}
 

 @media only screen and (max-width: 1800px) {
    .bannerleft {
        width: calc(100% - 770px);
    }
    .bannerright {
        width: 730px;
    }
 }

 @media only screen and (max-width: 1560px) {
    .bannerleft {
        width: calc(100% - 670px);
    }
    .bannerright {
        width: 630px;
    }
 }

 @media only screen and (max-width: 1620px) {
    .contact_left {
        width: calc(100% - 770px);
    }
    .contact_block {
        background-position: 48% bottom ;
    }
 }
 @media only screen and (max-width: 1440px) {
    .block3Sub a{
        padding: 8px 23px 10px 23px;
        border: solid 5px #fff;
        max-width: 205px;
    }
 }
 @media only screen and (max-width: 1420px) {
    .bannerleft h1 {
        font-size: 36px;
        line-height: 45px;
    }
    .bannerleft p {
        font-size: 32px;
        line-height: 36px;
        padding: 30px 0 0 0;
    }
    .bannerleft {
        width: calc(100% - 580px);
    }
    .bannerright {
        width: 560px;
    }
 }
 @media only screen and (max-width: 1400px) {
    .logo {
        width: 260px;
    }
    .navbar {
        width: calc(100% - 280px);
    }
 }
 @media only screen and (max-width: 1366px) {
    .block3Sub {width: calc(33.33% - 6px);}
    .contact_right {
        width: 385px;
    }
    .contact_block {
        background-position: 55% bottom;
    }
    .contact_left {
        width: calc(100% - 682px);
    }
 }
 @media only screen and (max-width: 1300px) {
    .navbar ul li {
        margin: 0 20px;
    }
 }
 @media only screen and (max-width: 1199px) {
    .block2abLeft {
        width: 100%;
    }
    .block2abRight {
        width: calc(100%);
    }
    .block2_sub {
        width: auto;
        flex: 1 0 33.33%;
    }
    .block2about{
        padding-top: 0;
    }
    .contact_left{
        border: solid 8px #c0cddc;
        width: calc(100% - 624px);
    }
    .contact_block {
        background-position: 48% bottom;
    }
    .footer2 .wrapper{
        flex-direction: column;
    }
    .footeeSub2 {
        width: calc(100% - 615px);
    }
 }
 @media only screen and (max-width: 1100px) {

    .contact_avter{ left: 0;}
    .contact_left {
        border: solid 8px #c0cddc;
        width: calc(100%);
    }
    .contact_right {
        width: 385px;
        margin: 34px 0 0 auto;
    }
    .contact_block {
        background-position: 12% bottom;
    }
    .footer2 .wrapper label{text-align: center;}
 }
 @media only screen and (max-width: 991px) {
    .footeeSub3 {
        width: 180px;
    }
    .footeeSub2 {
        width: calc(100% - 485px);
    }
    .contact_block {
        background-position: 2% bottom;
    }    
    .topBar, .topBar.navbar_scrolled {
        margin-top: 0;
        background: #fff;
        padding: 15px 0;
        position: relative;
    }
    .navbar_scrolled .logo, .logo {
        width: 100%;
        transition: all 0.3s;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
        width: calc(100%);
        display: block;
        padding: 14px 0;
    }
    .navbar ul li {
        margin: 10px 20px;
        display: block;
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 10px;
        text-align: center;
    }
    .navbar ul li:last-child{border: 0;}
    .navbar_scrolled .logo img, .logo img{width: 180px;}
    .block3Sub {width: calc(50% - 6px);}
    .menuIcon {
        display: block;
        background: #e1dec8;
        padding: 10px;
        border-radius: 8px;
        width: fit-content;
        font-size: 26px;
    }
    .navbar{display: none;}
    .bannerwrapper{
        flex-direction: column-reverse;
    }
    .bannerleft {
        width: calc(100%);
    }
    .bannerleft p {
        padding: 14px 0 0 0;
    }
    .bannerright {
        width: 100%;
        border-bottom: 4px solid #d2ccb5;
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
    .bannerLine{display: none;}
 }
 @media only screen and (max-width: 940px) {
    .block6_bottom {
        margin-top: 422px;
    }
 }
 @media only screen and (max-width: 840px) {
    .contact_block {
        background-position: -27% bottom;
    }
 }

 @media only screen and (max-width: 767px) {
    .contact_avter{ display: none;}
    .blck4flex .block4_sub div, .blck4flex .block4_sub{
        border: 0;
    }
    .blck4flex .block4_sub {
        width: calc(50% - 20px);
        padding: 26px;
        background: #fff;
        box-shadow: 7px 9px 22px #e7e0e0;
        margin: 10px;
    }
    .blck4flex .block4_sub div{    height: 197px;}
    .block6 h2{
        font-size: 32px;
    }
    .block6_bottom {
        margin-top: 512px;
    }
    .contact_block {
        background-position: -27% bottom;
        background: none;
    }
    .block3Sub {width: calc(100% - 6px);}
    .contact_right {
        width: auto;
        margin: 34px 0 0 auto;
        padding: 31px;
        background: #f4f0ed;
        border-radius: 5px;
        border: 1px solid #dadad9;
    }
    .footeeSub1 {
        width: 100%;
        margin-bottom: 20px;
    }
    .footeeSub2 {
        width: calc(100%);
        margin-bottom: 20px;
    }
    .footeeSub3 {
        width: 100%;
    }   

    .block5 h2{
        font-size: 32px;
    }
 }

 @media only screen and (max-width: 520px) {
    .blck4flex .block4_sub {
        width: calc(100% - 20px);}
 }
